# This file contains all necessary settings for web-watch

# Email to send failure messages to
MAILTO="youremail@yourdomain.tld"

# Defaults
NOOP="0"
VERBOSE="0"

# Various paths
WORKINGDIR="$(pwd)"
LOGPATH="$WORKINGDIR/LOGS/$(basename $0).log"

# Gowitness settings
GOWITNESSCMD="/blah/gowitness"
GOWITNESSXWINDOW="1024"
GOWITNESSYWINDOW="1024"
GOWITNESSUSERAGENT="security@example.com Defacement Monitoring"
GOWITNESSTIMEOUT="30"

# LLM/VLM API settings
VLMAPIURL="https://api.example.com"
VLMAPIKEY="thisisanexamplekey"
### better practice is to store the key in a secrets vault
#VLMAPIKEY="$(vault-cmd-to-extract-key)"
VLMDEFAULTMODEL="gpt-4o"

